.btn.btn-primary {
  background-color: #5E3DB3;
  border-color: #5E3DB3;
  padding: 1rem 2.25rem;
  font-size: 0.6rem;
  font-weight: bold; }

header {
  background-color: black;
  height: 100vh;
  z-index: 20; }

header.main {
  background-image: url("Images/Strike-9-Cover-Page.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 100vmax rgba(5, 10, 43, 0.84); }
  header.main .title h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold; }
  header.main .title p {
    color: white;
    font-size: 0.75rem; }

.hamburger {
  width: 1.5rem;
  height: 1.25rem;
  position: relative;
  top: 5px;
  right: px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap; }
  .hamburger div {
    width: 1.5rem;
    height: 3px;
    background-color: white;
    border-radius: 20px;
    transform-origin: 1px;
    transition: all 0.3s ease-in-out; }

.hamburger.open div {
  background: white;
  position: fixed; }

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(0px, -10.5px); }

.hamburger.open div:nth-child(2) {
  opacity: 0; }

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(0px, 10px); }

.navbar.open {
  background: #090C35 !important; }

.navbar-nav {
  padding: 10px !important;
  padding-bottom: 10% !important; }

.nav-item {
  border-bottom: 2px solid white;
  border-radius: 2px;
  padding: 2px; }

.nav-item.active {
  border: none;
  box-shadow: 0 4px 0px 0 #5E3DB3;
  border-radius: 2px;
  height: 50px; }

.nav-link {
  padding: 0.75rem 1rem; }

.sponsors {
  background: #090C35;
  width: 100%;
  padding: 5%; }
  .sponsors h2 {
    font-size: 1.25rem;
    color: #C2C2C2;
    padding-top: 40px;
    text-align: center; }
  .sponsors img {
    display: flex;
    padding: 10%;
    margin: 0 auto;
    position: relative; }

.grey {
  background-color: #F5F4F9;
  padding-bottom: 10%; }

.training-plans {
  width: 100%; }
  .training-plans h2 {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    font-size: 4rem; }
  .training-plans .list {
    padding-top: 5%;
    margin: 0 auto;
    padding: 5%; }
    .training-plans .list .point {
      padding: 0;
      display: flex;
      flex-direction: row; }
      .training-plans .list .point h3 {
        padding-left: 10px; }
      .training-plans .list .point h5 {
        padding-right: 10px;
        padding: 2px;
        height: 2px;
        font-size: 17px;
        border-radius: 10px;
        box-shadow: 0 32px 0px 0 #5E3DB3; }
    .training-plans .list p {
      padding-top: 10px; }
  .training-plans img {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1; }

#growth .list .point {
  flex-direction: row-reverse; }
  #growth .list .point h3 {
    padding-right: 10px; }
#growth p {
  text-align: right; }

.promises {
  background: #5E3DB3;
  text-align: center;
  color: white; }

.feedback h2 {
  text-align: right;
  font-size: 3rem;
  color: #C2C2C2; }
.feedback .slider {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  .feedback .slider .slide.fade {
    opacity: 0; }
  .feedback .slider .slide {
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: right; }
    .feedback .slider .slide .slide-img {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      padding: 40px;
      background-image: url(./Images/Slider/pattern-bg.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
      .feedback .slider .slide .slide-img img {
        height: 100%;
        width: 300px;
        margin: -20px;
        transform: skew(-2.5deg);
        box-shadow: 0 5px 29px 0 rgba(186, 186, 207, 0.52); }
    .feedback .slider .slide .slide-text {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-image: url(./Images/Slider/pattern-quotes.svg);
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 80px; }
      .feedback .slider .slide .slide-text .testimonial-text {
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1rem;
        color: #202046; }
      .feedback .slider .slide .slide-text .author-text h5 {
        margin-top: 20px;
        color: #202046;
        font-size: 0.5rem;
        font-weight: 700;
        text-align: left; }
  .feedback .slider .buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 315px;
    width: 90px;
    height: 45px;
    box-shadow: -20px 12px 20px 0px rgba(186, 186, 207, 0.52);
    border-radius: 50px;
    background: white;
    overflow: hidden; }
    .feedback .slider .buttons .previous,
    .feedback .slider .buttons .next {
      display: inline-block;
      width: 50%;
      height: 100%;
      position: absolute;
      cursor: pointer; }
    .feedback .slider .buttons .previous {
      left: 0; }
    .feedback .slider .buttons .next {
      right: 0; }
    .feedback .slider .buttons .next::after,
    .feedback .slider .buttons .previous::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto; }
    .feedback .slider .buttons .next::after {
      background-image: url(./Images/Slider/icon-next.svg); }
    .feedback .slider .buttons .previous::after {
      background-image: url(./Images/Slider/icon-prev.svg); }

.section-border {
  width: 100%;
  padding: 40%;
  margin-top: -15%; }

.about {
  padding: 10%;
  padding-top: 20%; }
  .about h2 {
    font-size: 3rem;
    color: #C2C2C2; }
  .about img {
    width: 100%;
    position: absolute; }
  .about .about-info p {
    padding: 10px;
    padding-left: 0; }
  .about .about-info button {
    margin-top: 30px; }

.index-section {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; }
  .index-section .box-right {
    height: 100%;
    width: 100%;
    background: blue; }
  .index-section .box-left {
    height: 100%;
    width: 100%; }
  .index-section .box {
    background-color: purple;
    height: 50px;
    width: 50px;
    position: absolute; }
    .index-section .box h5 {
      text-align: center;
      margin: 0 auto;
      padding: 10px;
      height: 1px;
      border-radius: 10px;
      box-shadow: 0 1px 0px 0 #5E3DB3; }

@media only screen and (max-width: 400px) {
  .slide-img img {
    width: 200px !important; }

  .buttons {
    top: 180px !important; } }
@media only screen and (min-width: 768px) {
  .navbar-nav {
    padding-bottom: 0 !important; }

  .nav-item {
    border: none; }

  header.main .title h1 {
    font-size: 2rem;
    font-weight: bold; }
  header.main .title p {
    font-size: 1rem; }

  .sponsors {
    padding: 2.5%; }
    .sponsors h2 {
      font-size: 1.75rem; }

  .training-plans img {
    position: absolute;
    width: 75%; }
  .training-plans p {
    width: 75%;
    margin-left: 25%; }

  .feedback .slide {
    flex-direction: row !important;
    text-align: left !important; }
  .feedback .slide-text {
    background-position: 10% 30% !important;
    background-size: 100px !important;
    align-items: flex-start !important; }
    .feedback .slide-text .author-text h5 {
      text-align: right; }
  .feedback .slide-img {
    margin-left: -100px !important;
    z-index: -1 !important; }
    .feedback .slide-img img {
      width: 400px !important; }
  .feedback .buttons {
    top: 415px !important;
    transform: translate(0) !important;
    left: calc(100% - 400px) !important; }

  .section-border {
    padding: 15%; } }
@media (min-width: 990px) {
  .hamburger {
    display: none; }

  .navbar-nav {
    padding-bottom: 0 !important; }

  .nav-item {
    border: none; }

  header.main .title {
    padding-top: 50px; }
    header.main .title h1 {
      font-size: 2.5rem;
      font-weight: bold; }
    header.main .title p {
      font-size: 1rem; }

  .sponsors h2 {
    font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */
