$font-color: white
$font-color-secondary: #C2C2C2

$primary-color: #090C35

$large-devices: 990px
$medium-devices: 768px

.btn.btn-primary  
    background-color: #5E3DB3
    border-color: #5E3DB3
    padding: 1rem 2.25rem
    font-size: .60rem
    font-weight: bold

header
    background-color: black
    height: 100vh
    z-index: 20



header.main
    background-image: url('Images/Strike-9-Cover-Page.jpg')
    background-repeat: none
    background-size: cover
    background-position: center

    box-shadow: inset 0 0 0 100vmax rgba(5, 10, 43, 0.84)

    .title
        h1
            color: white
            font-size: 1.5rem 
            font-weight: bold

        p 
            color: white
            font-size: .75rem

.hamburger
    width: 1.5rem
    height: 1.25rem
    position: relative
    top: 5px
    right: px
    display: flex
    justify-content: space-around
    flex-flow: column nowrap

    div 
        width: 1.5rem
        height: 3px 
        background-color: $font-color
        border-radius: 20px
        transform-origin: 1px
        transition: all .3s ease-in-out


.hamburger.open div
    background: $font-color
    position: fixed

.hamburger.open div:nth-child(1)
    transform: rotate(45deg) translate(0px, -10.5px)


.hamburger.open div:nth-child(2)
    opacity: 0

.hamburger.open div:nth-child(3)
    transform: rotate(-45deg) translate(0px, 10px)

.navbar.open 
    background: $primary-color !important

.navbar-nav  
    padding: 10px !important
    padding-bottom: 10% !important

.nav-item 
    border-bottom: 2px solid white
    border-radius: 2px
    padding: 2px

.nav-item.active
    box-shadow: 0 55px 0 0 #5E3DB3
    border-radius: 10px
    height: 5px
    

.nav-link 
    padding: .75rem 1rem


.sponsors 
    background: #090C35
    width: 100%
    padding: 5%

    h2
        font-size: 1.25rem
        color: $font-color-secondary
        padding-top: 40px
        text-align: center

    img 
        display: flex
        padding: 10%
        margin: 0 auto
        position: relative

.grey
    background-color: #F5F4F9
    padding-bottom: 10%

.training-plans
    width: 100%

    h2
        padding-top: 7.5%
        padding-bottom: 7.5%
        font-size: 4rem


    .list 
        padding-top: 5%
        margin: 0 auto
        padding: 5%

        .point
            padding: 0
            display: flex
            flex-direction: row  

            h3 
                padding-left: 10px

            h5
                padding-right: 10px
                padding: 2px
                height: 2px
                font-size: 17px
                border-radius: 10px
                box-shadow: 0 32px 0px 0 #5E3DB3

        p 
            padding-top: 10px 

    img
        width: 100%
        height: auto
        padding-top: 10px
        margin: 0 auto
        position: relative
        z-index: 1

#growth 
    .list
        .point 
            flex-direction: row-reverse
            h3 
                padding-right: 10px

    p
        text-align: right




.promises
    background: #5E3DB3
    text-align: center
    color: white



@media (min-width: $medium-devices) 

    .navbar-nav
        padding-bottom: 0 !important
    
    .nav-item
        border: none

    header.main
        .title
            h1
                font-size: 2rem 
                font-weight: bold
            p 
                font-size: 1rem
    
    .sponsors
        padding: 2.5%

        h2
            font-size: 1.75rem
    
    .training-plans 

        img
            position: absolute
            width: 75%

        p
            width: 75%
            margin-left: 25%




@media (min-width: $large-devices) 
    .hamburger
        display: none
    
    .navbar-nav
        padding-bottom: 0 !important
    
    .nav-item
        border: none

    header.main
        
        .title
            padding-top: 50px

            h1
                font-size: 2.5rem 
                font-weight: bold
            p 
                font-size: 1rem
    

    .sponsors

        h2
            font-size: 2rem
            

