@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    
$font-color: white
$font-color-secondary: #C2C2C2

$primary-color: #090C35

$third-color: #5E3DB3

$large-devices: 990px
$medium-devices: 768px
$small-devices: 400px

$muli: Mulish, sans-serif

$light: 300
$regular: 400
$medium: 500
$semi-bold: 600
$bold: 700
$x-bold: 800
$black: 900


body 
    font-family: $muli

h1 
    font-size: clamp(19px, 5vw, 60px) !important
    font-weight: $black

h2
    font-size: clamp(30px, 5vw, 50px) !important
    font-weight: $medium

h3
    font-size: clamp(25px, 5vw, 30px) !important
    font-weight: $regular

h4 
    font-size: clamp(15px, 5vw, 20px) !important
    font-weight: $light


p 
    font-size: clamp(11px, 1.5vw, 15px) 
    font-weight: $light

.btn.btn-primary  
    background-color: $third-color
    border-color: $third-color
    padding: 1rem 2.25rem
    // font-size: .60rem
    font-weight: bold
    box-shadow: 0px 6px 18px 0px #5E3DB3

.btn.btn-secondary
    background-color: #4D2AA5
    border-color: #4D2AA5
    font-weight: bold

.form-check  
    padding-left: 2.25rem

.card 
    border-radius: 0
    border: none
    box-shadow: 0 5px 29px 0 hsla(240, 18%, 77%, 0.52)


// Booking Form

.page 
    position: relative
    width: 100%

    .form-control 
        position: relative
        margin-bottom: 10px
        padding-bottom: 20px
        width: 250px

        label
            display: inline-block
            margin-bottom: 5px
        
        input 
            border: 2px solid #f0f0f0
            display: block

        input:focus 
            outline: 0
            border-color: $third-color

        i 
            visibility: hidden
            position: absolute
            top: 40px
            right: 40px

        small 
            color: #e74c3c
            visibility: hidden

    .form-control.success input 
        border-color: #22eedd
    
    .form-control.error input 
        border-color: #e74c3c
    
    .form-control.success i.fa-check-circle
        color: #22eedd
        visibility: visible
    
    .form-control.error i.fa-exclamation-circle
        color: #e74c3c
        visibility: visible
    
    .form-control.error small 
        visibility: visible

// animations

.fade-in
    opacity: 0
    transition: opacity 250ms ease-in

.fade-in.appear 
    opacity: 1

.from-left
    transform: translateX(-50%)

.from-right 
    transform: translateX(50%)

.from-left, 
.from-right 
    transition: transform 400ms ease-in

.from-left.appear, 
.from-right.appear 
    transform: translateX(0)

header
    z-index: 20

header.main
    height: 100vh
    background-image: url('Images/Strike-9-Cover-Page.jpg')
    background-repeat: none
    background-size: cover
    background-position: center

    box-shadow: inset 0 0 0 100vmax rgba(5, 10, 43, 0.84)

    .title
        h1
            color: white
            
            font-weight: bold

        p 
            color: white
            
    .buttons button:nth-child(1)
        margin-right: 25px
    
    .bottom
        height: 40vh
        position: relative

        .social-media 
            position: absolute
            right: 10px
            bottom: 0

            .sm-link
                color: white
                padding: 0

header.events 
    color: white
    .title
        h1
            color: white            
            font-weight: bold

    background-color: $third-color

    .search
        padding: 2rem

        .btn.btn-secondary.search-btn
            float: right
            margin-top: 1rem
            width: 100%

.hamburger
    width: 1.5rem
    height: 1.25rem
    position: relative
    top: 5px
    z-index: 2
    display: flex
    justify-content: space-around
    flex-flow: column nowrap

    div 
        width: 1.5rem
        height: 3px 
        background-color: $font-color
        border-radius: 20px
        transform-origin: 1px
        transition: all .3s ease-in-out


.hamburger.open div
    background: $font-color
    position: fixed

.hamburger.open div:nth-child(1)
    transform: rotate(45deg) translate(0px, -10.5px)


.hamburger.open div:nth-child(2)
    opacity: 0

.hamburger.open div:nth-child(3)
    transform: rotate(-45deg) translate(0px, 10px)

.navbar.open 
    background: $primary-color !important

.navbar-nav  
    padding: 10px !important
    padding-bottom: 10% !important

.nav-item 
    border-bottom: 4px solid white
    padding: 2px

.nav-item.active 
    border-bottom: 4px solid $third-color
    

.nav-link 
    padding: .75rem 1rem


.sponsors 
    background: #090C35
    width: 100%
    padding: 5%

    h2
        font-size: clamp(25px, 5vw, 30px) !important
        color: $font-color-secondary
        padding-top: 40px
        text-align: center

    img 
        display: flex
        padding: 10%
        margin: 0 auto
        position: relative

.grey
    background-color: #F5F4F9
    padding-bottom: 10%

.training-plans
    width: 100%

    h2
        padding-top: 7.5%
        padding-bottom: 7.5%

    .list 
        padding-top: 5%
        margin: 0 auto
        padding: 5%

        .point
            padding: 0
            display: flex
            flex-direction: row  

            h3 
                padding-left: 10px
                color: $font-color-secondary

            h5
                padding-right: 10px
                padding: 2px
                height: 2px
                border-radius: 10px
                box-shadow: 0 32px 0px 0 #5E3DB3

        p 
            padding-top: 10px 

    img
        width: 100%
        height: auto
        padding-top: 10px
        margin: 0 auto
        position: relative
        z-index: 1

#growth 
    .list
        .point 
            flex-direction: row-reverse
            h3 
                padding-right: 10px

    p
        text-align: right


.promises
    background: #5E3DB3
    text-align: center
    color: white
    padding-top: 10% !important
    padding-bottom: 10% !important
    padding: 10%

    h4
        font-weight: $semi-bold !important

.feedback

    padding-top: 10%

    h2
        text-align: right
        font-size: 3rem
        color: $font-color-secondary

    .slider
        display: block
        height: 100%
        width: 100%
        max-width: 850px
        margin: 0 auto
        position: relative
        z-index: 2

        .slide.fade 
            opacity: 0

        .slide 
            opacity: 1
            width: 100%
            padding: 10px
            display: flex
            flex-direction: column-reverse
            justify-content: center
            text-align: center

            .slide-img  
                width: 100%
                margin: 0 auto
                height: 100%
                padding: 40px 
                background-image: url(./Images/Slider/pattern-bg.svg)
                background-position: center
                background-repeat: no-repeat
                background-size: contain

                img
                    height: 100%
                    width: 300px
                    margin: -20px
                    transform: skew(-2.5deg)
                    box-shadow: 0 5px 29px 0 hsla(240, 18%, 77%, 0.52)


            .slide-text
                padding-top: 30px
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                background-image: url(./Images/Slider/pattern-quotes.svg)
                background-position: top right
                background-repeat: no-repeat
                background-size: 80px

                .testimonial-text   
                    font-weight: 300
                    font-size: 1.1rem
                    line-height: 1rem
                    color: hsl(240, 38%, 20%)
                
                .author-text 
                    color: $third-color
                    h5
                        margin-top: 20px
                        font-size: .5rem
                        font-weight: 700
                        text-align: left

                .star-ratings 
                    display: flex
                    padding-bottom: 1rem

                    .fa-star
                        color:  $third-color

                
             
        .arrow-buttons
            position: absolute
            left: 50%
            transform: translateX(-50%)
            top: 315px
            width: 90px
            height: 45px
            box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52)
            border-radius: 50px
            background: white
            overflow: hidden

            .previous, 
            .next
                display: inline-block
                width: 50%
                height: 100%
                position: absolute
                cursor: pointer
            
            .previous   
                left: 0
            
            .next
                right: 0

            .next::after,
            .previous::after 
                content: ''
                position: absolute
                height: 100%
                width: 100%
                background-repeat: no-repeat
                background-position: center
                background-size: auto
            
            .next::after 
                background-image: url(./Images/Slider/icon-next.svg)


            .previous::after 
                background-image: url(./Images/Slider/icon-prev.svg)

.section-border
    width: 100%
    padding: 30%
    margin-top: -15%

.section-border.two
    padding: 40%

.about
    padding: 10%
    // padding-top: 20%

    h2
        color: #C2C2C2


    img
        width: 100%
        position: absolute

    .about-info
        p
            padding: 10px
            padding-left: 0
        
        button
            margin-top: 30px


.index-section
    display: flex
    width: 100%
    align-items: start
    justify-content: center
    position: relative
    flex-direction: column

    .index-text
        width: 100%
        padding-left: 5%
        padding-top: 10%

        h2
            font-size: clamp(10px, 4vw, 20px)

        p 
            font-size: clamp(13px, 1.5vw, 20px) !important

        button
            margin: 50px
            float: right

    .box
        position: relative
        z-index: 2
        background-color: $third-color
        height: 75px
        width: 75px
        padding: 25px
        text-align: center
        margin-top: -30px
        margin-left: 10px   
        box-shadow: 0px 6px 18px 0px #5E3DB3

        h5
            text-align: center
            margin: 0 auto
            font-size: .9rem
            height: 2px
            width: 15px
            border-radius: 10px
            box-shadow: 0 20px 0 0 rgba(255, 255, 255, 0.3)
            color: white

    .index-image
        width: 100%

        img 
            width: 100%

#coporate
    padding-bottom: 10%

.events-title 
    font-size: clamp(15px, 1.5vw, 24px) 
    font-weight: $bold
    color: $third-color

.events-list 
    padding: 2rem

    .session-type
        margin-bottom: 0
        font-size: clamp(12px, 1.5vw, 18px) 
        font-weight: $bold
        color: #606060

    .age-label
        color: #606060
        

    .events-description
        font-size: clamp(12px, 1.5vw, 15px) 

    .btn.btn-primary
        padding: .75rem 2.25rem


footer 
    background: #190438
    color: white
    bottom: 0
    padding: 10%

    .footer-logo
        text-align: center
        padding-bottom: 10%

    .newsletter
        padding-top: 10% 
        margin: 0 auto
        text-align: center

    .contact-info
        padding-top: 20px

        p
            padding: 10px
            font-size: 1rem

        .sm-link
            color: white

    button.btn.btn-primary.my-2.my-sm-0
        width: 100% 

    .index-footer
        display: flex
        flex-direction: row
        padding-top: 20px

        ul 
            list-style: none
            margin: 0 auto
            padding: 0
            padding-top: 25px

            li
                padding: 10px
            
    .bottom-footer
        padding-top: 50px

        p 
            border-top: 3px solid #5E3DB3
            padding: 40px


          

@media only screen and (max-width: $small-devices) 
        .slide-img img 
            width: 200px !important
        
        .arrow-buttons
            top: 200px !important




@media only screen and (min-width: $medium-devices)
    .navbar-nav
        padding-bottom: 0 !important
    
    .nav-item
        border: none

    header.main
        .title
            h1
                font-weight: bold

    header.events
        .search
            .btn.btn-secondary.search-btn
                float: right
                margin-top: 0
                width: 60%

    
    .sponsors
        padding: 2.5%


    .training-plans 

        img
            position: absolute
            width: 75%

        p
            width: 75%
    
    #growth
        p
            margin-left: 25% 

    .feedback
        .slide 
            flex-direction: row  !important
            text-align: left  !important

        .slide-text 
            background-position: 10% 30% !important
            background-size: 100px !important
            align-items: flex-start !important
            

            .author-text h5
                text-align: right
        
        .slide-img 
            margin-left: -100px !important
            z-index: -1 !important

            img 
                width: 400px !important

        .buttons
            top: 415px !important
            transform: translate(0) !important
            left: calc(100% - 400px) !important
                    
    .section-border
        padding: 10%

    .section-border.two
        padding: 15%     

    .index-section
        align-items: center
        justify-content: center
        position: relative
        flex-direction: row

        .index-text
            width: 50%  
            padding-top: 0        
        
        .box 
            position: absolute
            height: 75px
            width: 75px
            margin: 0 auto

        .index-image
            width: 50%

    #events
        flex-direction: row-reverse

    #coporate
        padding-bottom: 0

    footer 
        padding: 0
        padding-top: 75px

        .footer-logo
            padding: 50px !important

        p 
            font-size: 15px

        .index-footer ul
            padding-top: 0px




@media (min-width: $large-devices) 
    .hamburger
        display: none
    
    .navbar-nav
        padding-bottom: 0 !important
    
    .nav-item
        border: none

    header.main
        
        .title
            padding-top: 50px

            h1
                font-weight: bold
        
        .bottom
            height: 30vh



    .index-section
        .index-text
            p   
                width: 75%
    
    
